BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_ORIGIN=http://localhost:3000
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=mistral
CHROMA_PATH=./chroma_db
REPOS_PATH=./repos
MAX_CHUNK_SIZE=2000
